<html>
<head>
<title>HAPPINESS INDEX</title>
</head>
<body style="background-color: rgb(41, 159, 55);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HAPPINESS INDEX 
    <form action="/Predict" method ="POST">
    
        <img src="static\start.jpg" height=100% width=100%>
        <br>
        <br><br><br><br>
        <label>Overall_rank</label><input type="text" name ="Overall_rank"><br><br>
        <label>Year</label><input type="text" name ="Year"><br><br>
        <label>GDP_per_capital</label><input type="text" name ="GDP_per_capital"><br><br>
        <label>Social_support</label><input type="text" name ="Social_support"><br><br>
        <label>Healthy_life_expectancy</label><input type="text" name ="Healthy_life_expectancy"><br><br>
        <label>Freedom_to_make_life_choices</label><input type="text" name ="Freedom_to_make_life_choices"><br><br>
        <label>Generosity</label><input type="text" name ="Generosity"><br><br>
        <label>Perceptions_of_corruption</label><input type="text" name ="Perceptions_of_corruption"><br><br>
         
        <input type="submit">
        <br><br>
    </form>
</form>
</body>
</html>