<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 150px;
  width: 0px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;


}

.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 180px;
  opacity: 0.9;
}


</style>
</head>
<body>

<div class="container">
  <img src="image.jpg" alt="Snow" style="width:100%;">
  <div class="bottom-left">
    
        <label>Overall_rank</label><input type="text" name ="Overall_rank"><br><br>
        <label>Year</label><input type="text" name ="Year"><br><br>
        <label>GDP_per_capital</label><input type="text" name ="GDP_per_capital"><br><br>
        <label>Social_support</label><input type="text" name ="Social_support"><br><br>
        <label>Healthy_life_expectancy</label><input type="text" name ="Healthy_life_expectancy"><br><br>
        <label>Freedom_to_make_life_choices</label><input type="text" name ="Freedom_to_make_life_choices"><br><br>
        <label>Generosity</label><input type="text" name ="Generosity"><br><br>
        <label>Perceptions_of_corruption</label><input type="text" name ="Perceptions_of_corruption"><br><br>

        <button type="submit" class="registerbtn">submit</button>
    
  </div>
  
</div>

</body>
</html> 

<!-- <label>Overall_rank</label><input type="text" name ="Overall_rank"><br><br>
        <label>Year</label><input type="text" name ="Year"><br><br>
        <label>GDP_per_capital</label><input type="text" name ="GDP_per_capital"><br><br>
        <label>Social_support</label><input type="text" name ="Social_support"><br><br>
        <label>Healthy_life_expectancy</label><input type="text" name ="Healthy_life_expectancy"><br><br>
        <label>Freedom_to_make_life_choices</label><input type="text" name ="Freedom_to_make_life_choices"><br><br>
        <label>Generosity</label><input type="text" name ="Generosity"><br><br>
        <label>Perceptions_of_corruption</label><input type="text" name ="Perceptions_of_corruption"><br><br> -->